<div id="MainWrapper">
    <div class="LoginLeftMain">
        <!-- Email Recovery -->
        <div class="LeftSide" style="display: block;">
            <div class="Logo"></div>
            <div class="EmailRecoveryHeading">
                <h1>Ok lets figure out what email
                    you used when you setup
                    your account
                </h1>
            </div>
            <div class="LoginForm">
                <form action="">
                    <div class="Email">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" placeholder="Jonh doe">
                    </div>
                    <div class="Email">
                        <label for="city">City:</label>
                        <input type="text" name="city" id="city" placeholder="Nashville">
                    </div>
                    <div class="Email">
                        <div class="Email2" style="float:left;">
                            <label for="state">State:</label>
                            <select id="state">
                                <option>Tenessee </option>
                                <option>Tenessee 1</option>
                                <option>Tenessee 2</option>
                            </select>
                        </div>
                        <div class="Email2" style="float:right;">
                            <label for="zip">Zip:</label>
                            <input type="text" name="zip" id="zip" placeholder="37209">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="LoginBtn">
                        <a href="#" class="BlueButton">
                            Continue
                        </a>
                    </div>
                    <div class="EmailRecoveryText">
                        If this email is wrong, you'll need to login with it first,
                        and then change it to to the correct email in
                        your account settings.
                    </div>
                </form>
            </div>
        </div>
        <!-- Email Recovery -->

        <!-- Recovery Login -->
        <div class="LeftSide" style="display:none;">
            <div class="Logo"></div>

            <div class="LoginForm RecoverLogin">
                <form action="">
                    <div class="Email">
                        <label for="email">You used this email to setup your account :</label>
                        <input type="text" name="email" id="email" value="Derekhamblin@gmail.com">
                    </div>
                    <div class="Email">
                        <label for="password">Now enter your password to login :</label>
                        <input type="password" name="email" id="password" value="password">
                    </div>
                    <div class="LoginBtn">
                        <a href="login.html" class="BlueButton">
                            Sign in
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Recovery Login -->
    </div>
    <div class="RecoveryRightMain">
        <!--<img src="img/mornig-web.png"  />-->
    </div>
</div>
