<div id="MainWrapper">
    <div class="LoginLeftMain">
        <div class="LeftSide">
            <div class="Logo"></div>
            <div class="WelcomeHeading">
                <h1><%= daytime_greetings @param %>, Welcome Back.</h1>
                <p>
                    Looks like your account was suspended do to non
                    compliance with GreenPal's terms of service. You can
                    email <a class="EmailInText" href="mailto:team@yourgreenpal.com">team@yourgreenpal.com</a> if you feel like this
                    may be an error.
                </p>
            </div>
            <div class="LoginForm">
                <form action="">
                    <div class="Email">
                        <label for="email">Email address:</label>
                        <input type="text" name="email" id="email" placeholder="johndoe@gmail.com">
                    </div>
                    <div class="Email">
                        <label for="password">Password:</label>
                        <input type="password" name="email" id="password" placeholder="•••••••••">
                    </div>
                    <div class="CheckboxPassword">
                        <input type="checkbox" id="KeepMeSignedIn" tabindex="4"/>
                        <label for="KeepMeSignedIn">Keep me signed in</label>
                        <a href="#" class="ForgottenPassword">Forgotten password?</a>
                    </div>
                    <div class="LoginBtn">
                        <a href="#" class="BlueButton">
                            Sign in
                        </a>
                    </div>
                    <div class="DontHaveAnAccount">
                        <div class="TitleAccount">
                            <p>Don't Have an Account? </p><span><%= image_tag 'login-arrow.png' %> </span>
                        </div>
                        <a href="#"><u>Go here</u> for your free lawn mowing quotes.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="LoginRightEvening"></div>
</div>
