<div id="MainWrapper">
    <div class="LoginLeftMain">
        <!-- Enter Email -->
        <div class="LeftSide " style="display: none;">
            <div class="Logo"></div>
            <div class="ForgotHeading">
                <h1>We will help you get that
                    <br/> fixed in no time
                    <%= image_tag "forgot-arrow.png" %>
                    <span> </span>
                </h1>
            </div>
            <div class="LoginForm">
                <form action="">
                    <div class="Email">
                        <label for="email">Enter your Email Address:</label>
                        <input type="text" name="email" id="email" placeholder="you@example.com">
                    </div>
                    <p class="Error">
                        Hmmm, looks like we don't have that email.<br/>
                        <a class="EmailInText" href="email-recovery.html">Go here to figure out what email you used </a>
                        when you created your account
                    </p>
                    <div class="LoginBtn">
                        <a href="#" class="BlueButton">
                            Reset my password
                        </a>
                    </div>
                    <div class="Returnto">
                        Return to <a href="login.html">sign in</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Enter Email -->

        <!-- Great Heading -->
        <div class="LeftSide" style="display: none;">
            <div class="Logo"></div>
            <div class="GreatHeading">
                <h1>Great!</h1>
                <p class="GreatBold">Check your email for instructions</p>
                <p class="GreatText">and we will be waiting here for you to come back</p>
            </div>
            <div class="LoginForm">
                <div class="LoginBtn">
                    <a href="#" class="BlueButton">
                        Return to sign in
                    </a>
                </div>
            </div>

        </div>
        <!-- Great Heading -->

        <!-- Set New Password -->
        <div class="LeftSide" style="display: block;">
            <div class="Logo"></div>
            <div class="ForgotHeading">
                <h1>Set new password
                    <%= image_tag "forgot-arrow.png" %>
                    <span> </span>
                </h1>
            </div>
            <div class="LoginForm">
                <form action="">
                    <div class="Email">
                        <label for="newpassword">New Password:</label>
                        <input type="text" name="email" id="newpassword" placeholder="password">
                    </div>
                    <div class="Email">
                        <label for="confirm_new_password">Conrirm New Password:</label>
                        <input type="text" name="email" id="confirm_new_password" placeholder="password">
                    </div>
                    <p class="Error">
                        Ooops .. Looks like they do not match
                    </p>
                    <div class="LoginBtn">
                        <a href="#" class="BlueButton">
                            Update
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Set New Password -->
    </div>
    <div class="ForgotRightMain">
        <!--<img src="img/mornig-web.png"  />-->
    </div>
</div>
